@charset "utf-8";
/* CSS Document */
body{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 11px;
	background-color: #576C7F;
	color: #848484;
}
h1{
	font-weight: normal
}
fieldset{
	border-style: none;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #D7D7D7;
	margin: 20px;
	box-sizing: border-box;
	width: 280px;
	padding: 0px;
}
legend{
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
}
div{
	width: 350px;
	height: auto;
	background-color: #F7F7F7;
	border-radius: 3px;
}
.dv{
	text-align: left;
}
input{
	width: 100%;
	height: 35px;
	margin-bottom: 15px;
	border-radius: 3px;
	border-style: solid;
	border-color: #BBBBBB;
	border-width: 0.5px;
	padding-left: 15px;
	box-sizing: border-box;
	font-size: 11px;
}
.name{
	width: 133px;
}
.checkb{
	width: 12px;
	height: 12px;
	align-items: baseline;
}
p,a{
	color:#FFFFFF;
}
.btn{
	color: #FFFFFF;
	font-weight: bold;
	background: linear-gradient(#42B160, #268334);
	/*background-color:#268334;*/
	border-color: #268334;
}
